# WEB SCRAPPING - ASSIGNMENT 4

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) View

In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome()

In [16]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [18]:
name=[]
try:
    n=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in n:
        name.append(i.text)
except NoSuchElementException:
            name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')

In [19]:
Rank=[]
try:
    r=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in r:
        Rank.append(i.text)
except NoSuchElementException:
            Rank.append('No details available')
except StaleElementReferenceException:
    Rank.append('No details available')

In [20]:
artist=[]
try:
    a=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in a:
        artist.append(i.text)
except NoSuchElementException:
            artist.append('No details available')
except StaleElementReferenceException:
    artist.append('No details available')

In [21]:
date=[]
try:
    d=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in d:
        date.append(i.text)
except NoSuchElementException:
            date.append('No details available')
except StaleElementReferenceException:
    date.append('No details available')

In [22]:
view=[]
try:
    v=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in v:
        view.append(i.text)
except NoSuchElementException:
            view.append('No details available')
except StaleElementReferenceException:
    view.append('No details available')

In [27]:
df = pd.DataFrame()
df['Rank']=Rank 
df['Name']=name
df['Artist']=artist
df['Views']=view
df['Upload_Date']=date
df

,Rank,Name,Artist,Views,Upload_Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

In [28]:
driver.close()

# Q-2Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [29]:
driver=webdriver.Chrome()

In [30]:
#getting the specified url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [33]:
#Clicking international fixture section
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
driver.get(international.get_attribute('href'))

In [34]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [36]:
#Scrapping the data having the match name
name=driver.find_elements(By.XPATH,"//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)

In [ ]:
#as there were no any fixture on official website,the code is incomplete

# q-3 Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [38]:
driver=webdriver.Chrome()

In [39]:
# opening required page on the browser.

driver.get('http://statisticstimes.com/')

In [41]:
# Clicking on option 'India', which is hovering inside the 'Economy' option.

economy= driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()
india= driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/div/a[3]").click()

In [42]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [52]:

#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

In [61]:
#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)

In [54]:
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)

In [55]:
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)

In [56]:
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)

In [57]:
#Scraping Share_18_19
share_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)

In [58]:
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)

In [62]:
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [99]:
driver=webdriver.Chrome() 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)

In [100]:

open_source_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

Trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
Trending.click()

In [104]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Language_used=[]

In [105]:
#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)

#scraping Language_used
language_used=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)

In [106]:
print(len(Repository_title),len(Repository_description),len(Language_used))

25 24 24

In [107]:
Trending_rep=pd.DataFrame({})
Trending_rep['Repository_title']= Repository_title[:24]
Trending_rep['Repository_description']= Repository_description
Trending_rep['Language_used']= Language_used
Trending_rep

,Repository_title,Repository_description,Language_used
0,suno-ai /,🔊 Text-Prompted Generative Audio Model,Python
1,OpenLMLab /,An open-source tool-augmented conversational l...,Python
2,xtekky /,"decentralising the Ai Industry, free gpt-4/3.5...",Python
3,sanchit-gandhi /,⚖️ AI 法律助手,Python
4,lvwzhen /,ChatGPT interface with better UI,TypeScript
5,xtekky /,mall项目是一套电商系统，包括前台商城系统及后台管理系统，基于SpringBoot+MyB...,Python
6,macrozheng /,Python - 100天从新手到大师,Java
7,jackfrued /,Auto-GPT中文版本及爱好者组织 同步更新原项目 AI领域创业 自媒体组织 用AI工作学...,Python
8,kaqijiang /,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that h...",Python
9,pengzhile /,Inpaint anything using Segment Anything and in...,Python
10,geekyutao /,Superpower ChatGPT Chrome Extension,Jupyter Notebook
11,saeedezzati /,😎 Awesome lists about all kinds of interesting...,JavaScript
12,sindresorhus /,"Babylon.js is a powerful, beautiful, simple, a...",TypeScript
13,BabylonJS /,"langchain-ChatGLM, local knowledge based ChatG...",Python
14,imClumsyPanda /,人人可用的开源数据可视化分析工具。,Java
15,dataease /,Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主...,JavaScript
16,TheRamU /,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,CSS
17,l15y /,One-Click to deploy well-designed ChatGPT web ...,TypeScript
18,Yidadaa /,"Wechat robot based on ChatGPT, which using Ope...",Python
19,zhayujie /,a better universal ui system,TypeScript
20,tamagui /,An Artificial Intelligence Automation Platform...,Python
21,Josh-XT /,"HuggingLLM, Hugging Future.",Jupyter Notebook
22,datawhalechina /,bloop is a fast code search engine written in ...,TypeScript
23,BloopAI /,"🤖 Assemble, configure, and deploy autonomous A...",TypeScript

# Q5. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

You have to find the following details:

   A) Song name
   B) Artist name
   C) Last week rank
   D) Peak rank
   E) Weeks on board

In [147]:
driver=webdriver.Chrome()

In [149]:
# opening required page on the browser.

driver.get('https://www.billboard.com/')

In [150]:
chart_opt=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [152]:
view_opt = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [154]:
# scrapping the the information required
Song=[]
Artist_Name=[]
LWR=[]
PR=[]
Note=[]

#scrapping Song name
song=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song:
    Song.append(i.text)
Song

#scrapping Artist name
artist=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in artist:
    Artist_Name.append(i.text)
    
Name=[]
for i in range(0,400,4):
    Name.append(Artist_Name[i])


#scrapping lwr
lwr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in lwr:
    LWR.append(i.text)

#scrapping pr
pr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in pr:
    PR.append(i.text)

#scrapping note
note=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in note:
    Note.append(i.text)

    
# making a dataframe
Billboard_data=pd.DataFrame({'Name of Song':Song,'Name of Artist':Name,'Last week Rank':LWR,'Peak Rank':PR,'Weeks on Board Note':Note})

Billboard_data

,Name of Song,Name of Artist,Last week Rank,Peak Rank,Weeks on Board Note
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

# Q6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [158]:
#loading website
driver=webdriver.Chrome() 
driver.maximize_window() 
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare") # going to website

In [159]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [160]:
# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [161]:
Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q-7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [162]:
#loading website
driver=webdriver.Chrome() # creating automated chrome window
driver.maximize_window() # maximizing
driver.get("https://www.imdb.com/list/ls095964455/") # going to website

In [164]:
# creating empty disctionary
imdb_series = {}
imdb_series['Name'] = []
imdb_series['YearSpan'] = []
imdb_series['Genre'] = []
imdb_series['RunTime'] = []
imdb_series['Rating'] = []
imdb_series['Votes'] = []

In [165]:
#Scraping the above data from IMDB Website
names = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in names:
    if i.text is None:
        imdb_series['Name'].append("-")
    else:
        imdb_series['Name'].append(i.text)
        
yearSpan = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in yearSpan:
    if i.text is None:
        imdb_series['YearSpan'].append("-")
    else:
        imdb_series['YearSpan'].append(i.text.replace('(','').replace(')',''))

        
genre = driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genre:
    if i.text is None:
        imdb_series['Genre'].append("-")
    else:
        imdb_series['Genre'].append(i.text)
        
runtime = driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in runtime:
    if i.text is None:
        imdb_series['RunTime'].append("-")
    else:
        imdb_series['RunTime'].append(i.text)
        
        
rating = driver.find_elements(By.XPATH,"//div[@class ='ipl-rating-star small']/span[2]")
for i in rating:
    if i.text is None:
        imdb_series['Rating'].append("-")
    else:
        imdb_series['Rating'].append(i.text)

votes = driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")
for i in votes:
    if i.text is None:
        imdb_series['Votes'].append("-")
    else:
        imdb_series['Votes'].append(i.text)

In [166]:
    
# Creating dataframe using pandas lib
IMDB_Series = pd.DataFrame(imdb_series)

IMDB_Series

,Name,YearSpan,Genre,RunTime,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,153,598"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,235,622"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,023,037"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"301,063"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"259,998"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"51,398"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"63,439"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"206,839"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7,"42,940"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"256,475"

# Q8. Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [167]:
#loading website
driver=webdriver.Chrome() # creating automated chrome window
driver.get("https://archive.ics.uci.edu/") # going to website

In [168]:

# click on to all view all dataset
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [169]:
#scrapping weblink
weblinks=[]

#scraping weblinks
for i in driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a'):
    weblinks.append(i.get_attribute('href'))

In [170]:
#scrapping information 
# creating empty lists
Name=[]
Type=[]
Task=[]
Att_Type=[]
Instance=[]
Attributes=[]
Year=[]

In [171]:
for i in weblinks:
    try:
        driver.get(i)
    # Scrapping name of dataset
        name=driver.find_element(By.XPATH,'//span[@class="heading"]')
        Name.append(name.text)

    # Scrapping Type of dataset
        tipe=driver.find_element(By.XPATH,'(//p[@class="normal"])[3]')
        Type.append(tipe.text)

    # Scrapping Task
        task=driver.find_element(By.XPATH,'(//p[@class="normal"])[15]')
        Task.append(task.text)
    
    # Scrapping Attribute type
        att=driver.find_element(By.XPATH,'(//p[@class="normal"])[9]')
        Att_Type.append(att.text)

    # Scrapping Instance
        instance=driver.find_element(By.XPATH,'(//p[@class="normal"])[5]')
        Instance.append(instance.text)

    # Scrapping Attributes
        attributes=driver.find_element(By.XPATH,'(//p[@class="normal"])[11]')
        Attributes.append(attributes.text)

    # Scrapping Year
        year=driver.find_element(By.XPATH,'(//p[@class="normal"])[13]')
        Year.append(year.text)
    
    except:
        pass

In [172]:
# making a dataframe
dataset=pd.DataFrame({'Name of Dataset':Name,'Type of Dataset':Type,'Task':Task,'Attribute type':Att_Type,'No. of Instances':Instance,'No.of Attributes':Attributes,'Year':Year})

dataset

,Name of Dataset,Type of Dataset,Task,Attribute type,No. of Instances,No.of Attributes,Year
0,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
612,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020-12-16
613,Turkish Music Emotion Dataset Data Set,Multivariate,Classification,"Integer, Real",400,50,2020-12-20
614,Maternal Health Risk Data Set Data Set,N/A,Classification,N/A,1014,7,2020-12-31
615,Room Occupancy Estimation Data Set,"Multivariate, Time-Series",Classification,Real,10129,16,2021-01-16
616,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020-12-13

# Q9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [173]:
#loading website
driver=webdriver.Chrome() # creating automated chrome window
driver.get("https://www.naukri.com/hr-recruiters-consultants") # going to website

In [174]:
# sending keys "Data Science" in search box
driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys('Data Science')
#clicking on search button
driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]').click()

In [175]:
#scrapping the required information
# creating empty lists
Name=[]
Designation=[]
Company_Name=[]
Skills=[]
Location=[]

In [179]:
#scrapping Recruiter's name
recruit=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in recruit:
    Name.append(i.text)

#scrapping Recruiter's designation
desg=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in desg:
    Designation.append(i.text)

#scrapping Recruiter's Company
Company=[]
company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in company:
    Company.append(i.text)
for i in range(1,100,2):
    Company_Name.append(Company[i])

#scrapping skills they hire for
skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills:
    Skills.append(i.text)

#scrapping Company Location
location=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/span[2]/small')
try:
    for i in location:
        Location.append(i.text)
except NoSuchElementException:
    Location.append('Not Mentioned')

# making a dataframe
Recruiter_data=pd.DataFrame({'Name of Recruiter':Name[:49],'Designation of Recruiter':Designation[:49],'Name of Company':Company_Name[:49],'Skills They Hire for':Skills[:49],'Location':Location[:49]})

Recruiter_data

,Name of Recruiter,Designation of Recruiter,Name of Company,Skills They Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [181]:
driver.close()